<!DOCTYPE html>
<html lang="en">
<%- include('../html/layouts/head', { page: 'about' }) %>

<body class="page-about hidden">
    <%- include('../html/layouts/header', { page: 'about' }) %>
    <%- include('../html/components/nav-breadcrumb') %>
    <main class="site-main">
        <section class="section-about">
            <h1 class="section-tit size-l">About Us</h1>
            <div class="section-desc">
                <p class="txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae eros amet consectetur pellentesque sagittis. Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae eros amet consectetur pellentesque sagittis.</p>
            </div>
            <%- include('../html/components/timeline.ejs') %>
        </section>
    </main>
    <%- include('../html/layouts/footer') %>
    <!-- <%- include('../html/components/mask') %> -->
</body>
</html>