<!DOCTYPE html>
<html lang="en">
<%- include('../html/layouts/head', { page: 'about' }) %>

<body class="page-about hidden">
    <%- include('../html/layouts/header', { page: 'about' }) %>
    <%- include('../html/components/nav-breadcrumb') %>
    <main class="site-main">
        <section>
            <h1>About Us</h1>
        </section>
    </main>
    <%- include('../html/layouts/footer') %>
    <!-- <%- include('../html/components/mask') %> -->

    <!-- <script type="text/javascript" src="{{basePath}}library/jquery-3.7.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{basePath}}js/common.min.js"></script> -->
    <script type="text/javascript" src="{{basePath}}js/page-about.min.js"></script>
</body>
</html>