<!DOCTYPE html>
<html lang="en">
<%- include('../html/layouts/head', { page: 'news' }) %>

<body class="page-news hidden">
    <%- include('../html/layouts/header', { page: 'news' }) %>
    <%- include('../html/components/nav-breadcrumb') %>
    <main class="site-main">
        <section class="section-news">
            <!-- <div class="section-header"> -->
                <h1 class="section-tit size-l">News</h1>
                <div class="filter-buttons">
                    <button type="button" class="btn btn-primary active" data-type="all">All</button>
                    <button type="button" class="btn btn-main" data-type="event">Events</button>
                    <button type="button" class="btn btn-second" data-type="notice">Notices</button>
                </div>
            <!-- </div> -->
            <ul class="news-list">
                <li class="news-item event" data-type="event">
                    <a href="{{basePath}}html-news/news-01.html" class="news-link">
                        <time class="news-date" datetime="2025-01-30">2025-01-30</time>
                        <span class="news-category event">Events</span>
                        <span class="tag tag-top">Top</span>
                        <span class="news-title">Nekoma V.S. karasuno</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-02.html" class="news-link">
                        <time class="news-date" datetime="2025-02-08">2025-02-08</time>
                        <span class="news-category notice">Notices</span>
                        <span class="tag tag-new">New</span>
                        <span class="news-title">Et dignissim ut volutpat quis porttitor faucibus faucibus</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-01.html" class="news-link">
                        <time class="news-date" datetime="2025-02-06">2025-02-06</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Purus imperdiet et cum laoreet</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-02.html" class="news-link">
                        <time class="news-date" datetime="2025-02-01">2025-02-01</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Varius sed ipsum aliquet et convallis turpis sit imperdiet vel adipiscing eget</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-01.html" class="news-link">
                        <time class="news-date" datetime="2025-01-22">2025-01-22</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Tristique ut vivamus netus</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-02.html" class="news-link">
                        <time class="news-date" datetime="2025-01-16">2025-01-16</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Lorem ipsum dolor sit amet consectetur</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-01.html" class="news-link">
                        <time class="news-date" datetime="2025-01-05">2025-01-05</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Purus imperdiet et cum laoreet</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-02.html" class="news-link">
                        <time class="news-date" datetime="2024-12-12">2024-12-12</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Varius sed ipsum aliquet et convallis turpis sit imperdiet vel adipiscing eget Varius sed ipsum aliquet et convallis turpis sit imperdiet vel adipiscing eget</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-01.html" class="news-link">
                        <time class="news-date" datetime="2024-12-09">2024-12-09</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Tristique ut vivamus netus</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
                <li class="news-item notice" data-type="notice">
                    <a href="{{basePath}}html-news/news-02.html" class="news-link">
                        <time class="news-date" datetime="2024-11-27">2024-11-27</time>
                        <span class="news-category notice">Notices</span>
                        <span class="news-title">Lorem ipsum dolor sit amet consectetur</span>
                        <i class="news-arrow icon-feather-chevron-right"></i>
                    </a>
                </li>
            </ul>
            <%- include('../html/components/nav-pagination') %>
        </section>
    </main>
    <%- include('../html/layouts/footer') %>
    <!-- <%- include('../html/components/mask') %> -->

    <script type="text/javascript" src="{{basePath}}js/page-news.min.js" defer></script>
</body>
</html>