<!DOCTYPE html>
<html lang="en">
<%- include('../html/layouts/head', { page: 'news' }) %>

<body class="page-news hidden">
    <%- include('../html/layouts/header', { page: 'news' }) %>
    <%- include('../html/components/nav-breadcrumb') %>
    <main>
        <section>
            <h1>News</h1>
        </section>
    </main>
    <%- include('../html/layouts/footer') %>
    <%- include('../html/components/mask') %>

    <!-- <script type="text/javascript" src="{{basePath}}library/jquery-3.7.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{basePath}}js/common.min.js"></script> -->
    <script type="text/javascript" src="{{basePath}}js/page-news.min.js"></script>
</body>
</html>