<!DOCTYPE html>
<html lang="en">
<%- include('html/layouts/head', { page: 'index' }) %>

<body class="page-home at-opening hidden">
    <%- include('html/layouts/header', { page: 'index' }) %>
    <main class="site-main">
        <%- include('html/components/stage-num') %>
        <%- include('html/section/section-opening') %>
        <%- include('html/section/section-about') %>
        <%- include('html/section/section-team') %>
        <%- include('html/section/section-news') %>
        <%- include('html/section/section-contact') %>
        <%- include('html/section/section-partners') %>
    </main>
    <%- include('html/layouts/footer') %>
    <!-- <%- include('html/components/mask') %> -->

    <!-- <script type="text/javascript" src="{{basePath}}library/jquery-3.7.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{basePath}}library/lenis.min.js"></script> -->
    <!-- <script type="text/javascript" src="{{basePath}}js/common.min.js"></script> -->
    <script src="{{basePath}}js/page-index.min.js" defer></script>
</body>
</html>